
cffi 
cryptography
Django 
django-cors-headers
django-extensions 
django-sslserver  
djangorestframework 
djongo           
dnspython        
gunicorn        
MarkupSafe       
packaging         
pip               
pycparser       
pymongo           
pyOpenSSL        
pytz              
sqlparse         
Werkzeug         
